<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!-- 
    <h1>Vue.js</h1>

    <div id="app">
        <h1>Hehe</h1>
        <h3>{{msg}}</h3>
        <h2 v-bind:title="titleMsg">Hover me</h2>
        <hr>
        <button @click="showImg($event)">Click me</button>
        <img v-if="show" v-bind:src="imgUrl" alt="This is some img">

        <ol>
            <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
        </ol>

        <input @keyup.enter="logData" v-model="firstName" type="text" placeholder="Emin">

    </div>
-->

    <div id="app">
        <h1 id="naslov">Create a new CV</h1>

        <!-- Builder -->

        <div id="builder" v-if="!show">
            <input v-model="firstname" class="form-control" type="text" placeholder="First name" id="firstname"
                required>
            <br>
            <input v-model="lastname" class="form-control" type="text" placeholder="Last name" id="lastname" required>
            <br>
            <select v-model="position" class="custom-select" name="position" id="positon">
                <option disabled value="">Please select one</option>
                <option value="senior">Senior</option>
                <option value="junior">Junior</option>
            </select>
            <br><br>
            <input v-model="phonenumber" class="form-control" type="text" placeholder="Phone number" id="phonenum"
                required>
            <br>
            <input v-model="email" class="form-control" type="email" placeholder="Email" id="email" required>
            <br>
            <input v-model="socialmedia" class="form-control" type="text" placeholder="Social media" id="socialmedia">
            <br>
            <input v-model="adress" class="form-control" type="text" placeholder="Adress" id="adress">
            <br>
            <fieldset>
                <textarea v-model="education" class="form-control" name="education" id="education" cols="30" rows="5"
                    placeholder="Education"></textarea>
            </fieldset>
            <br>
            <fieldset>
                <textarea v-model="experience" class="form-control" name="experience" id="experience" cols="30" rows="5"
                    placeholder="Experience"></textarea>
            </fieldset>
            <br>
            <button @click="showTemplate($event)" class="btn btn-primary" id="savebtn">Save</button>
        </div>

        <!-- Preview -->

        <div id="preview" v-if="show">
            <button class="btn btn-primary" id="xbtn" @click="hideTemplate($event)">X</button>
            <div id="preview2">

                <div id="topdiv">
                    <div id="h1div">
                        <h1 id="h1">{{firstname}} {{lastname}}</h1>
                        <h6 id="underh1">{{position}}</h6>
                    </div>
                    <div id="imgdiv">
                        <img id="womanlogo" src="img/womanlogo.png" alt="womanlogo">
                    </div>
                </div>
                <div id="graydiv"></div>

                <div id="sidediv">

                    <div id="contactdiv">
                        <h4 class="h4s">C O N T A C T</h4>
                        <img class="pngs" id="phonepng" src="img/phone.png" alt="phone">
                        <p>{{phonenumber}}</p>
                        <img class="pngs" id="emailpng" src="img/email.png" alt="email">
                        <p>{{email}}</p>
                        <img class="pngs" id="linkedinpng" src="img/linkedin.png" alt="linkedin">
                        <p>{{socialmedia}}</p>
                        <img class="pngs" id="locationpng" src="img/location.png" alt="location">
                        <p>{{adress}}</p>
                    </div>

                    <div id="educationdiv">
                        <h4 class="h4s">E D U C A T I O N</h4>
                        <!-- 
                        <h6>MBA DIPLOMA</h6>
                        <span>London BusinessSchool</span>
                        <p>2016</p>
                        <br>
                        <h6>BACHELOR DEGREE</h6>
                        <span>International Bussiness</span>
                        <p>Oxford University</p>
                        <h6>GCE A-Level</h6>
                        <span>Wimbeldon High School</span>
                        <p>2004</p>
                        -->
                        <span>{{education}}</span>
                    </div>

                    <div id="skillsdiv">
                        <h4 class="h4s">S K I L L S</h4>
                        <span id="marketing">Marketing</span> <span class="dot"></span><span class="dot"></span><span
                            class="dot"></span><span class="dot"></span><span class="dot"></span><br>
                        <span id="strategy">Strategy</span> <span class="dot"></span><span class="dot"></span><span
                            class="dot"></span><span class="dot"></span><span class="dot2"></span><br>
                        <span id="budget">Budget</span> <span class="dot"></span><span class="dot"></span><span
                            class="dot"></span><span class="dot2"></span><span class="dot2"></span><br>
                        <span id="planning">Planning</span> <span class="dot"></span><span class="dot"></span><span
                            class="dot"></span><span class="dot2"></span><span class="dot2"></span><br>
                        <span id="presentation">Presentation</span> <span class="dot"></span><span
                            class="dot"></span><span class="dot"></span><span class="dot"></span><span
                            class="dot2"></span>
                    </div>
                </div>

                <div id="rightdiv">

                    <div id="profilediv">
                        <h4 class="h4s">P R O F I L E</h4><br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eveniet blanditiis
                            labore,
                            itaque assumenda pariatur, dolor quae voluptas maxime qui perferendis cupiditate tenetur
                            harum?
                            Neque ullam optio veniam sed accusamus?</p>
                    </div>

                    <h4 class="h4s">E X P E R I E N C E</h4>
                    <!-- 
                    <h6>JOB TITLE</h6>
                    <p>Company name | London | 2016 - present</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam non, autem modi reprehenderit, in
                        doloribus.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Undet.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias placeat veniam a cum commodi
                            neque debitis fugiat.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ul>

                    <h6>JOB TITLE</h6>
                    <p>Company name | London | 2011 - 2016</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam non, autem modi reprehenderit, in
                        doloribus.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Undet.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ul>

                    <h6>JOB TITLE</h6>
                    <p>Company name | London | 2010 - 2011</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Undet.</li>
                    </ul>
                    -->
                    <span>{{experience}}</span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>