/* body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color:#F26523;
    color: white;
}

#form {
    text-align: center;
    margin-top: 180px;
    background-color: #28160C;
    height: 500px;
}

#name {
    margin-top: 90px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
}

#description {
    width: 300px;
    margin-bottom: 5px;
}

#price {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

#img {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}

#add-btn {
    width: 100px;
    height: 30px;
    margin-right: 20px;
    background-color: #F26523;
    color: white;
    font-size: 15px;
}

#add-btn:hover {
    font-weight: bolder;
}

#clear-btn {
    width: 100px;
    height: 30px;
    background-color: #F26523;
    color: white;
    font-size: 15px;
}

#clear-btn:hover {
    font-weight: bolder;
}

#form2 {
    background-color: black;
    width: 20px;
}
*/

/* Transition

.kocka {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transition: all 3s ease;
    text-transform: uppercase;
    font-size: 32px;
    background: black;
    color: white;
}

.div1 {
    transition: all 3s ease 1s;
}

.div2 {
    transition: all 3s ease .8s;
}

.div3 {
    transition: all 3s ease 2s;
}

.div4 {
    transition: all 3s ease 3s;
}

.div5 {
    transition: all 3s ease 2s;
}

.kocka:hover {
    width: 300px;
    height: 300px;
    background-color: brown;
}

.main {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    padding: 0px;
}

.main:hover .div1 {
    margin-left: 349px;
    margin-top: 349px;
    background-color: brown;
    transform: rotate(720deg);
}
/*
.main:hover .div2 {
    margin-left: 100px;
    margin-top: 100px;
    background-color: orange;
    transform: rotate(620deg);
}

.main:hover .div3 {
    margin-left: 100px;
    margin-top: 100px;
    background-color: yellowgreen;
    transform: rotate(520deg);
}

.main:hover .div4 {
    margin-left: 100px;
    margin-top: 100px;
    background-color: purple;
    transform: rotate(420deg);
}

.main:hover .div5 {
    margin-left: 100px;
    margin-top: 100px;
    background-color: teal;
    transform: rotate(320deg);
}
*/

/*
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1px solid black;
    background: black;
}

.circle:hover {
    background-color: #a3a5a1;
    transition: all .7s ease 1.3s;
}
*/

/* Keyframe animation */

/*

@keyframes prva {
    0%{
        top: 0;
    }
    25%{
        top: 75px;
        left:0;
    }
    50%{
        top: 50px;
        left:50px;
    }
    75%{
        top:0;
        left:50px;
    }
    100%{
        top:0;
        left:0;
    }
}

.kocka {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transition: all 3s ease;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    background: black;
    animation-name: prva;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 4;
    animation-direction: reverse;
}

.main {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    padding: 0px;
}

*/

/*
.first {
    width: 350px;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid black;
}

.ugasen {
    background-color: black;
}

.segment {
    width: 200px;
    height: 7px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 3px 10px red;
}

.s1 {
    width: 250px;
    height: 10px;
    background: red;
    position: absolute;
    top: 50px;
    left: 50px;
}

.s2 {
    width: 200px;
    height: 10px;
    background: red;
    transform: rotate(90deg);
    top: 155px;
    left: 205px;
    position: absolute;
}

.s3 {
    width: 250px;
    height: 10px;
    background: red;
    position: absolute;
    top: 260px;
    left: 50px;
    opacity: 0.2;
}

.s4 {
    width: 200px;
    height: 10px;
    background: red;
    transform: rotate(90deg);
    position: absolute;
    top: 155px;
    left: -55px
}

.s5 {
    width: 200px;
    height: 10px;
    background: red;
    transform: rotate(90deg);
    position: absolute;
    top: 365px;
    left: -55px
}

.s6 {
    width: 250px;
    height: 10px;
    background: red;
    position: absolute;
    top: 470px;
    left: 50px
}

.s7 {
    width: 200px;
    height: 10px;
    background: red;
    position: absolute;
    transform: rotate(90deg);
    top: 365px;
    left: 205px
}
*/

/* CARD */

/*
#main {
    width: 500px;
    height: 900px;
    background: cornsilk;
    margin: auto;
}

#card {
    width: 330px;
    height: 700px;
    background: white;
    margin-left: 100px;
    box-shadow: 3px 6px 11px;
}

#img {
    width: 100%;
}

#naslov {
    text-align: center;
}

#price {
    text-align: center;
    opacity: 0.2;
    font-size: 20px;
}

p {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    border: 0;
    margin-top: 21px;
    outline: none;
    background: black;
    color: white;
    padding: 20px 50px 20px 50px;
    width: 100%;
    font-size: 15px;
}

button:hover {
    opacity: 0.25;
    cursor: pointer;
}
*/

/*
.container {
    background: darkred;
    padding: 10px;
    display: flex;
    align-items: stretch;
}

.item {
    background: red;
    font-size: 24px;
    padding: 20px;
    margin: 5px;
    align-self: center;
}

@media screen and (max-width: 700px) {
    .container {
        background: black;
        flex-direction: column;
    }
}
*/

body {
    margin: 0;
    padding: 0;
}

#first {
    background: #f5ed00;
    height: 100px;
    color: gray;
    text-align: center;
    justify-content: center;
}

#first h2 {
    margin: 0;
    padding: 0;
}

#header {
    color: white;
    background: #1abc9c;
    height: 250px;
    text-align: center;
}

#header h1, h5 {
    margin-top: 0;
    padding: 0;
}

#navigation {
    background: #333;
    height: 40px;
    padding-top: 18px;
}

.links {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 17px;
}

a:hover {
    background: white;
    color: black;
}

#container {
    display: flex;
}

#leftdiv {
    background: #f1f1f1;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

#rightdiv {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}

#img1 {
    background: #aaa;
    height: 200px;
    padding-top: 15px;
    padding-left: 15px;
}

.img2 {
    background: #aaa;
    height: 100px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

.img3 {
    background: #aaa;
    height: 200px;
    padding-top: 15px;
    padding-left: 15px;
}

#footer {
    text-align: center;
    width: 100%;
    background: #ddd;
    font-size: 25px;
    padding: 10px 15px;
} 

@media screen and (max-width: 700px) {
    #container {
        flex-direction: column;
    }
}

