body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    background-color: #CCCCCC;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;

}

.wrapper {
    border-radius: 0.5%;
    background-color: white;
    width: 960px;
    padding: 15px;
    margin: 50px 450px;
    overflow: hidden;
}

.header {
    background-color: #C51417;
    color: white;
    width: auto;
    overflow:hidden;
    padding: 10px;
    margin-bottom: 10px;
}

#naslov {
    float: left;
    display: block;
}

#naslov2 {
    float: right;
    display: block;
    font-style: italic;
}

.icons {
    float: right;
}

#lorem {
    display: block;
    font-style: italic;
}

.links {
    float: left;
}

.navbar {
    background-color: #333333;
    color: white;
    padding: 10px;
    overflow: hidden;
}

.navb {
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #C51417;
}

.main {
    float: left;
    width: 700px;
}

.sidebar {
    float: right;
    width: 240px;
    margin-bottom: 40px;
}

.sdb {
    background-color: #BBBBBB;
    color: white;
    padding: 5px;
}

#locphoto {
    margin-bottom: 20px;
}

#aloc {
    color: #C51417;
    text-decoration: none;
}

#aloc:hover {
    color: black;
    text-decoration: underline;
}

.footer {
    background-color: #333333;
    clear: both;
    padding: 0.5px;
    font-size: 12px;
}

#footp {
    text-align: center;
    color: #BBBBBB;
}




