body {
    background-color: rgb(24, 21, 21);
    margin: 55px;
    text-align: justify;
}

h1,
h2,
h3,
h4 {
    color: darkred;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ul {
    font-size: large;
}

#table {
    text-align: center;
    font-size: 40px;
}

a {
    color: darkred;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: red;
}

.druga {
    margin-left: 90%;
    font-size: 25px;
}

li {
    color: white;
}

table {
    border: solid;
    width: 50%;
    margin-left: 25%;
}

td {
    border: solid;
    text-align: center;
}

th {
    text-align: center;
}

#bordo {
    background-color: darkred;
}