body {
    background: #2c4969;
}

#naslov {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#naslov2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#xbtn {
    float: right;
    margin-right: 260px;
    font-size: 20px;
    width: 50px;
}

#savebtn {
    margin-bottom: 30px;
    width: 80px;
}

#resetbtn {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 80px;
}

#builder {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 450px;
}

#preview {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background: #2c4969;
    height: 900px;
}

#preview2 {
    margin: auto;
    width: 50%;
    height: 750px;
    background: white;
    border-top: 15px solid pink;
    padding: 40px;
    font-size: 11px;
}

/* Top div */

#topdiv {
    overflow: hidden;
}

#womanlogo {
    width: 130px;
    height: 130px;
    margin-bottom: 25px;
    margin-right: 30px;
}

#h1 {
    color: gray;
    margin-top: 15px;
    margin-left: 40px;
}

#underh1 {
    margin-left: 30px;
    margin-bottom: 30px;
}

#graydiv {
    background-color: rgb(230, 230, 230);
    height: 20px;
    width: 100%;
    margin-bottom: 30px;
}

#h1div {
    float: left;
}

#imgdiv {
    float: right;
}

/* Left div */

#sidediv {
    float: left;
    margin-right: 50px;
}

#contactdiv {
    margin-bottom: 80px;
    text-align: justify;
}

.pngs {
    width: 15px;
    height: 17px;
    margin-right: 20px;
}

#phonepng {
    float: left;
}

#emailpng {
    float: left;
}

#linkedinpng {
    float: left;
}

#locationpng {
    float: left;
}

#educationdiv {
    margin-bottom: 80px;
    text-align: justify;
    padding: 0;
}

#skillsdiv {
    text-align: justify;
}

#marketing {
    margin-right: 25px;
}

#strategy {
    margin-right: 33px;
}

#budget {
    margin-right: 38px;
}

#planning {
    margin-right: 31px;
}

#presentation {
    margin-right: 12px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.dot2 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid pink;
    display: inline-block;
    margin-right: 3px;
}

.h4s {
    color: pink;
    font-size: 18px;
}

/* Right div */

#rightdiv {
    text-align: justify;
}

#profilediv {
    margin-bottom: 40px;
}